/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li + li:before {
  content: "|";
  padding-right: 0.3em;
}


div.table { 
  display: table; 
  border-collapse: collapse; 
}
div.tr { 
  display: table-row; 
}
div.td { 
  display: table-cell; 
  padding: 5px; 
}

select {
	width: 125px;
}

input {
	width: 125px;
}

.spacer {
	height: 25px;
}

.android-container-1 {
  width: 100%;
  height: 100%;
  text-align: center;
  margin-top: 50px;
}

.android-container-2 {
  width: 400px;
  height: 784px;
  display: inline-block;
  background-image: url('images/android.png');
}

.android-container-3 {
  margin: 100px 30px 140px 30px;
  text-align: left;
}

.result {
  text-align: center;
  font-weight: bold;
  height: 100px;
}

.appTitle {
  text-align: center;
}